<div class="dropdown">

    <button class="btn btn-outline dropdown-toggle me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-palette2"></i>
    </button>
    <div class="dropdown-menu">
        <span class="dropdown-item-text small">
            Geçerli Tema: 
            <script>document.write((localStorage.getItem('theme') == null) ? ("default") : (localStorage.getItem('theme')))</script>
        </span>
        <h6 class="dropdown-header">Lütfen Bir Tema Seçiniz</h6>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Default</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Cerulean</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Cosmo</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Cyborg</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Darkly</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Flatly</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Journal</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Litera</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Lumen</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Lux</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Materia</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Minty</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Morph</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Pulse</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Quartz</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Sandstone</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Simplex</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Sketchy</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Slate</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Solar</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Spacelab</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Superhero</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">United</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Vapor</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Yeti</a>
        <a class="dropdown-item" href="" onclick="ChangeTheme(this.text)">Zephyr</a>
    </div>
</div>

@*Theme data is from <a href="https://bootswatch.com/">https://bootswatch.com/</a>*@