@model string

<!-- Dikeyde Ortalanmış Sayfa -->

<div class="container-lg">

    <div class="row min-vh-100 d-flex justify-content-center align-items-center">

        <div class="col">

            <div class="jumbotron">
                <h1 class="display-4">Merhaba !</h1>
                <p class="lead"><b>@Model</b> sayfasına hoş geldiniz.</p>
                <hr class="my-4">
                <p>Bu sayfayı görüntülemek için yetkiniz olduğundan bu sayfayı görebiliyorsunuz.</p>
                <a class="btn btn-primary btn-lg" href="@Url.Content("~/")" role="button">Ana Sayfa</a>
            </div>

        </div>

    </div>

</div>